body{
    font-family: 'Montserrat';
    margin: auto;
    
    background: rgb(190, 198, 203);
}
.title{
    font-size: 50px;
    color: rgb(134, 140, 142);
}
.nav{
    font-size: 18;
}
/* HEADER */

.menu{
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu-list{
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
    color: black;
    line-height: 16px;
}
.list-item{
    display: inline-block;
    padding-right: 72px;
}

.menu-link{
    text-decoration: none;
    color: rgb(145, 22, 22);
}
/* MAINE*/
.maine{
    margin: auto;
    width: max-content;
    text-align: center;
}
.img{
    display:block;
    margin: auto;
}
.main-title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 23px;
    letter-spacing: 3px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: black;

}
.main-text{
width: 1200px;
margin: auto;
margin-top: 0px;
margin-bottom: 20px;
letter-spacing: 2px;
line-height: 50px;
font-weight: 800;
font-size: 16px;
color: rgb(0, 0, 0);

}
.button{
    margin-top: 60px;
    width: 1450px;
    height: 40px;
    background: rgb(143, 22, 22);
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    
    
    
}

/*FOOTER*/
.footer-text{
    width: 1050px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: right;
    line-height: 20px;
    letter-spacing: 2.5px;
    font-size: 14px;
    font-weight: 600;

}